<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <Telerik.Reporting>
    <assemblyReferences>
      <add name="DataModels"/>
    </assemblyReferences>
  </Telerik.Reporting>
</configuration>