<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=14.1.20.618, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
    </configSections>
    <Telerik.Reporting>
        <Cache provider="" />
        <cache provider="" />
        <assemblyReferences>
            <add name="DataModels" version="1.0.0.0" />
        </assemblyReferences>
        <SessionState provider="" />
        <restReportService>
            <storage provider="" />
            <reportResolver provider="" />
        </restReportService>
        <appData path="" />
    </Telerik.Reporting>
    <connectionStrings>
        <add name="ReportLibraryDemo.Properties.Settings.mtr_gwt_dbConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=mtr_gwt_db;User ID=sa;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
        <add name="ReportLibraryDemo.Properties.Settings.mtrgwtdb" connectionString="Data Source=localhost;Initial Catalog=mtr_gwt_db;User ID=sa;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>